# Secrets
.env

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outputs grandes (descomente se não quiser versionar)
# ../Extraction/outputs/work/
# ../Extraction/outputs/yamls/
